html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/2575280/pexels-photo-2575280.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30;
    font-family: Georgia, sans-serif;
}

img {
    display: inline-block;
    width: 200px;
    margin-left: 200;
}

p {
    margin-left: 200px;
    display: inline-block;
}

.butt {
    text-align: center;
    padding-top: 2rem;
}

.nav {
    float: right;
}

.pic {
    float: left;
    padding-right: 2rem;
}

.b {
    padding-top: 4rem;
    align-content: center;
    text-align: center;
    padding-right: 6rem;
}

#oy,
#car {
    padding-top: 18rem;
}

.in {
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    padding-top: 5rem;
}

#tex,
#proj {
    padding-top: 2rem;
}