h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30;
    font-family: Georgia, sans-serif;
}

img {
    display: inline-block;
    width: 200px;
    margin-left: 200;
}

p {
    margin-left: 200px;
    display: inline-block;
}